#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.alphabet {
  margin-bottom: 20px;
}

.letter {
  padding: 15px 25px;
  margin: 0 5px 5px;
  cursor: pointer;
}

.words-container {
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.page-count {
  margin: 0; /* Adjust margin as needed */
}
.page-count span {
  display: flex;
  margin: 13.5px;
}

.line {
  flex-grow: 1;
  border: none; /* Remove default border */
  border-top: 1px solid #646cffaa; /* Set border color */
}

.pagination-text {
  margin: 0 10px;
}
.pagination button {
  padding: 15px 25px;
  margin: 0;
  cursor: pointer;
}
